<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sil.bloom.reader">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- currently just because it's how we get the device name for WiFi, but eventually we will have
    other Bluetooth functions. -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name=".BloomReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- See http://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension/2062112#2062112 -->


            <!--
                 Capture content by MIME type, which is how Gmail broadcasts
                 attachment open requests.  pathPattern and file extensions
                 are ignored, so the MIME type *MUST* be explicit, otherwise
                 we will match absolutely every file opened.
            -->
            <intent-filter
                android:icon="@drawable/book"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- needed for properly formatted email messages -->
                <data
                    android:mimeType="application/vnd.bloom"
                    android:scheme="content" />
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/bloom"
                    android:scheme="content" />
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where no
                 MIME type is provided in the Intent.  An Intent with a null
                 MIME type will never be matched by a filter with a set MIME
                 type, so we need a second intent-filter if we wish to also
                 match files with this extension and a non-null MIME type
                 (even if it is non-null but zero length).
            -->
            <intent-filter
                android:icon="@drawable/book"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />

                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.bloomd" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where a
                 (possibly blank) MIME type is provided in the Intent.  This
                 filter may only be necessary for supporting ES File Explorer,
                 which has the probably buggy behaviour of using an Intent
                 with a MIME type that is set but zero-length.  It's
                 impossible to match such a type except by using a global
                 wildcard.
            -->
            <intent-filter
                android:icon="@drawable/book"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />

                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.bloomd" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.bloomd" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReaderActivity"
            android:label="@string/title_activity_reader"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".WiFi.NewBookListenerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".WiFi.SyncService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WiFi.GetFromWiFiActivity"
            android:label="@string/title_activity_get_from_wi_fi"
            android:excludeFromRecents="true"
            android:theme="@style/WiFiDialogTheme"></activity>
    </application>

</manifest>